@import "../../_variables.scss";

.game {
  grid-column: 1 / 10;
  background: url('../../assets/background.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  justify-content: end;

  .question {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text {
      padding: 30px 80px;
      text-align: center;
      @include gradient90;
      border-radius: 25px;
      font-size: calc(14px + 12 * (100vw / 1280));
      grid-row: 1;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .answers {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      & > button {
        width: 100%;
        padding: 30px 20px;
        text-align: center;
        @include gradient90;
        border-radius: 25px;
        font-size: calc(14px + 10 * (100vw / 1280));
        outline: none;
        border: none;
        cursor: pointer;
        transition: filter 0.3s ease;

        &:hover {
          filter: saturate(1.2);
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .question {
    gap: 10px !important;
  }

  .answers {
    gap: 10px !important;

    & > button {
      height: 100% !important;
      padding: 20px 10px !important;
    }
  }
}

@media screen and (max-width: 1100px) {
  .game {
    grid-column: 1/-1;


    .question {
      width: 90%;

      .text {
        padding: 15px 5px;
      }

      .answers > button {
        padding: 5px 8px !important;
        min-height: 50px;
      }
    }
  }
}